.container{
  width: 1200px;
  margin: 0 auto;
}
body{
  font-family: sans-serif;
}
.nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
}
.nav-menu {
  display: flex;
  justify-content: center;
}
.novigation-item {
  margin-top: 26px;
  margin-bottom: 26px;
  padding-right: 72px;
}
.main {
  background-image: url(../HW2/img/imageHW2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-section{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 49px;
}
.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}
.main-text{
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.btn {
  margin-top: 66px;
  text-align: center;
}
.btn-linl{
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  padding: 18px 43px;
}
.footer {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
}
.footer-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
